Brotli==1.0.9
GitPython==3.1.43
Markdown==3.6
MarkupSafe==2.1.5
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.17.2
SQLAlchemy==2.0.29
Werkzeug==3.0.2
absl-py==2.1.0
aiohttp==3.9.3
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
appnope==0.1.4
archspec==0.2.3
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
boltons==23.0.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==2.0.4
click==8.1.7
comm==0.2.2
conda-content-trust==0.2.0
conda-libmamba-solver==23.12.0
conda-package-handling==2.2.0
conda==24.3.0
conda_package_streaming==0.9.0
contourpy==1.2.1
cryptography==41.0.7
cycler==0.12.1
dataclasses-json==0.6.4
debugpy==1.6.7
decorator==5.1.1
direnv==2020.12.3
distro==1.8.0
docker-pycreds==0.4.0
env-file==2020.12.3
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.13.3
flatbuffers==24.3.25
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.3.1
gast==0.5.4
gitdb==4.0.11
google-pasta==0.2.0
grpcio==1.62.1
h11==0.14.0
h5py==3.10.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.22.2
idna==3.4
importlib_metadata==7.1.0
ipykernel==6.29.3
ipython==8.22.2
jedi==0.19.1
joblib==1.4.0
jsonpatch==1.33
jsonpointer==2.1
jupyter_client==8.6.1
jupyter_core==5.7.2
keras==3.1.1
kiwisolver==1.4.5
langchain-community==0.0.31
langchain-core==0.1.40
langsmith==0.1.40
libclang==18.1.1
libmambapy==1.5.3
markdown-it-py==3.0.0
marshmallow==3.21.1
matplotlib-inline==0.1.6
matplotlib==3.8.4
mdurl==0.1.2
menuinst==2.0.2
ml-dtypes==0.3.2
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
namex==0.0.7
nest_asyncio==1.6.0
numpy==1.26.4
openai==1.16.2
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.0
packaging==23.2
pandas==2.2.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
pip==23.3.1
platformdirs==3.10.0
plotly==5.20.0
pluggy==1.0.0
prompt-toolkit==3.0.42
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pycosat==0.6.6
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
pyparsing==3.1.2
python-dateutil==2.9.0
python-dotenv==1.0.1
pytz==2024.1
pyzmq==25.1.1
requests==2.31.0
rich==13.7.1
ruamel.yaml==0.17.21
scikit-learn==1.4.2
scipy==1.13.0
sentry-sdk==1.44.1
setproctitle==1.3.3
setuptools==68.2.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
stack-data==0.6.2
sympy==1.12
tenacity==8.2.3
tensorboard-data-server==0.7.2
tensorboard==2.16.2
tensorflow==2.16.1
termcolor==2.4.0
threadpoolctl==3.4.0
tornado==6.4
tqdm==4.65.0
traitlets==5.14.2
truststore==0.8.0
typing-inspect==0.9.0
typing_extensions==4.10.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.1.0
values==2020.12.3
wandb==0.16.6
wcwidth==0.2.13
wheel==0.41.2
wrapt==1.16.0
xlrd==2.0.1
yarl==1.9.4
zipp==3.17.0
zstandard==0.19.0